/* common styles start */

main h1 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

/* common styles end */


@media screen and (max-width: 576px) {
    main section h1 {
        font-size: 20px;
    }

    main section {
        margin-bottom: 24px;
    }

    main section p {
        font-size: 14px;
    }

    header {
        padding: 20px;
    }

    #nav .nav-items {
        display: none;
    }

    #nav .nav-list .nav-bar-icon {
        display: block;
    }

    #nav .nav-logo {
        gap: 10px;
    }

    #nav .nav-logo img {
        width: 35px;
    }

    #nav .nav-logo h3 {
        font-size: 22px;
    }

    #nav {
        margin-bottom: 20px;
    }

    .banner {
        padding: 32px 24px;
    }

    .banner h1 {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .banner p {
        font-size: 14px;
        line-height: 21px;
    }

    .banner .banner-search-container {
        flex-direction: column;
        gap: 16px;
    }

    .banner .banner-search-container .input-box,
    .banner .banner-search-container button {
        width: 100%;
    }

    .banner .banner-search-container button {
        padding: 15px 35px;
    }

    #popular-tours {
        flex-direction: column;
        padding: 0 20px;
        gap: 24px;
    }

    .popular-tours-img img {
        width: 100%;
    }

    .popular-tours-content h1 {
        margin-bottom: 16px;
    }

    .popular-tours-content > p {
        margin-bottom: 16px;
    }

    .popular-tours-content ul li {
        margin-bottom: 12px;
    }

    .destination-content h1 {
        margin-bottom: 16px;
    }

    .destination-content {
        margin-bottom: 16px;
    }

    .destination-img-text h3 {
        font-size: 20px;
    }
    #destination {
        padding: 0 20px;
    }

    #destination .destination-img-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 16px;
    }

    .destination-img-container img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

    .destination-img1 {
        grid-column: 1 / 1;
    }
    
    .destination-img2 {
        grid-column: 1 / 1;
    }
    
    .destination-img3 {
        
        grid-column: 1 / 1;
    }
    
    .destination-img4 {
        grid-column: 1 / 1;
    }
    
    .destination-img5 {
        grid-column: 1 / 1;
    }
    
    .destination-img6 {
        grid-column: 1 / 1;
    }
    
    .destination-img7 {
        grid-column: 1 / 1;
    }

    #choose-us {
        padding: 0 20px;
    }

    .choose-us-content h1 {
        margin-bottom: 16px;
    }

    .choose-us-content p {
        margin-bottom: 16px;
    }

    .choose-us-cards .row1 {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }

    .choose-us-cards .card img {
        margin-bottom: 12px;
    }

    .choose-us-cards .card h3 {
        margin-bottom: 16px;
    }

    #travelers-review {
        padding: 0 20px;
    }

    .review-container {
        grid-template-columns: 1fr;
    }

    #newsletter {
        padding: 0 20px;
        gap: 16px;
        flex-direction: column;
    }

    .newsletter-form {
        padding: 24px;
    }

    .newsletter-form h3 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .newsletter-form hr {
        margin: 16px 0;
    }

    footer {
        padding: 35px 20px;
    } 

    .footer .footer-logo h3 {
        font-size: 22px;
    }

    .footer p {
        margin-bottom: 16px;
        font-size: 14px;
    }

    .footer hr {
        margin: 24px 0;
    }

    .footer .footer-social-icons {
        gap: 24px;
    }

    .footer .footer-social-icons i {
        font-size: 24px;
    }

    #simple-place {
        flex-direction: column;
        padding: 0 20px;
    }

    .simple-place-container {
        width: 100%;
    }

    .simple-place-video iframe {
        width: 100%;
        height: 220px;
    }

    .simple-place-container p, .simple-place-container h1 {
        margin-bottom: 16px;
    }

    .simple-place-container button {
        margin-top: 8px;
    }

    .simple-place-container ul li {
        font-size: 14px;
    }

    #deal-discount {
        padding: 0 20px;
    }

    .deal-discount-content h1,
    .deal-discount-content p {
        margin-bottom: 16px;
    }

    .deal-discount-card {
        padding: 16px;
        margin-bottom: 16px;
    }

    .offer-card {
        padding: 24px;
    }

    .offer-card .span-part {
        margin-bottom: 18px;
    }

    .offer-card h4 {
        margin-bottom: 16px;
    }

    .offer-card1, .offer-card2 {
        padding: 185px 15px 15px;
    }  

    .deal-discount-card {
        background-size: cover;
        background-position: center;
    }
}